<div class="jumbotron mt-4">
    <h1 class="display-4">COVID‑19 en medellin</h1>
    <p>las medidas que adapto Medellín en el manejo de la emergencia sanitaria por covid-19.
        No se trata de una competencia ni de protagonizar. No se trata de ver qué ciudad reporta menos casos o menor
        mortalidad y hospitalización. Por principios lógicos, el objetivo es común y es controlar esta pandemia no solo
        a nivel local y nacional, sino a nivel mundial.
        Este problema que inicialmente se podría haber interpretado netamente de salud, va mucho más allá porque, es un
        problema económico, social, cultural y hasta ético.
        El manejo gubernamental ha variado de país a país, entrando en juego muchas variables con un rol importante,
        como es la fecha de llegada a cada país, las costumbres sociales y culturales, la cantidad de población por área
        geográfica, el grado de desarrollo económico y social, entre otras.</p>
    <h3 class="display-4">Qué es el Covid-19</h3>
    <img src="..." class="card-img-top" alt="...">
    <p class="lead">Los coronavirus (CoV) son virus que surgen periódicamente en diferentes áreas del mundo y que causan
        Infección Respiratoria Aguda (IRA), es decir gripa, que pueden llegar a ser leve, moderada o grave.
        El nuevo Coronavirus (COVID-19) ha sido catalogado por la Organización Mundial de la Salud como una emergencia
        en salud pública de importancia internacional (ESPII). Se han identificado casos en todos los continentes y, el
        6 de marzo se confirmó el primer caso en Colombia.
    </p>
    <hr class="my-4">
    <h3 class="display-4">¿Cuáles son los síntomas de COVID-19?</h3>
    <div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">COVID-19 pueden ser de muy leves a graves. Algunas personas no presentan síntomas. Los
                síntomas más comunes son fiebre, tos, y cansancio.
                Otros pueden incluir falta de aire al respirar, dolores musculares, escalofríos, dolor de garganta,
                dolor de cabeza, dolor en el pecho, y pérdida del sentido del gusto o del olfato. Esta lista no incluye
                todos los signos y síntomas posibles. También se han reportado otros síntomas menos comunes. Los
                síntomas pueden aparecer entre dos y 14 días después de la exposición al virus.
            </p>
        </div>
    </div>
    <hr class="my-4">
    <h3 class="display-4">¿Qué puedo hacer para evitar enfermarme?</h3>
    <div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">La mejor manera de prevenir la enfermedad es evitar la exposición al virus. Los CDC y
                OMS recomiendan estas precauciones:
                Mantén 6 pies (2 metros) de distancia entre tú y las personas que no viven en tu casa.
                Lávate las manos con frecuencia con agua y jabón por lo menos por 20 segundos, o usa un desinfectante
                para manos con base de alcohol que contenga al menos 60% de alcohol.
                Cúbrete la boca y la nariz con el codo o un pañuelo descartable al toser o estornudar. Desecha el
                pañuelo descartable usado.
                Evita tocarte los ojos, la nariz, y la boca.
                Limpia y desinfecta diariamente las superficies que toques con frecuencia.
                Si tienes una afección de salud crónica y puedes correr más riesgo de una enfermedad grave, habla con tu
                doctor sobre otras maneras de protegerte.
            </p>
        </div>
    </div>
</div>